
/*--- mail-compose style ---*/

.form-common{
	.mce-panel{
		background: transparent;
	}
	.mce-statusbar.mce-last{
		display: none;
	}
	.mce-btn{
		background: #acb7bf;
		border-radius: 10px;
		padding: 4px 10px;
	}
	.mce-ico,
	.mce-btn .mce-txt{
		color: $white_clr;
	}
	.mce-caret{
		border-top: 4px solid $white_clr;
	}
	.mce-btn-group:not(:first-child){
		border: none;
	}
	.mce-panel{
		border: none;
	}
	#mce_0_ifr{
		border: 1px solid $border_clr;
		border-top: none;
		width: 99.8%;
	}
	.mce-stack-layout-item.mce-first{
		padding: 9px 0 9px 9px;
		background: #f5f5f5;
		border-radius: 10px 10px 0 0;
	}	
}
.inbox-compose-block{
	.compose-title{
		background: #f5f5f5;
		padding: 20px 30px;
		border-radius: 4px 4px 0 0;
		h5{
			margin: 0;
		}
	}
	.compose-form-area{
		padding: 30px;
		border: 1px solid $border_clr;
		border-top: none;
	}
}
.compose-form-area{
	.btn{
		i.fa{
			margin-right: 7px;
		}
	}
}
