
/*--- pagination style ---*/

.pagination{
	margin: 0 0 30px 0;
	li{
		a.page-link{
			height: 40px;
			width: 40px;
			line-height: 40px;
			text-align: center;
			border: 1px solid $border_clr;
			background: transparent;
		}
	}
	a.mat-button{
		min-width: auto;
	}
	li.active{
		a.page-link{
			background: $primary_clr;
			border: 1px solid $border_clr;
		}
	}
	.page-item .page-link{
		border: 1px solid $border_clr;
	}
	span.mat-button-wrapper{
        line-height: 28px;
    }
}
.pagination.pg-round{
	a.page-link{
		border-radius: 50%;
		.mat-button-ripple{
			border-radius: 50%;
		}
	}
	.page-item .page-link{
		border: none;
	}
}

@media screen and  (max-width: 480px) {
	.pagination li a.page-link{
		width: 34px;
		height: 34px;
		line-height: 34px;
		padding: 0 10px;
	}
}

@media screen and (max-width: 375px){
	.pagination li a.page-link {
		width: 28px;
		height: 28px;
		line-height: 28px;
		padding: 0 5px;
	}
}

@media screen and (max-width: 320px){
	.pagination li a.page-link {
		width: 24px;
		height: 26px;
		line-height: 8px;
		padding: 0px 5px;
	}
}
